@model Entities.Concrete.DataTransferObject.EmployeeLoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = null;
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
}
<div class="position-absolute top-50 start-50 translate-middle shadow p-3 mb-5 bg-body rounded">
    <h1>Kullanıcı Girişi</h1>
    <hr />
    <div class="row">
        <div class="form col-md">
            <form asp-action="Login" asp-controller="Auth" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-floating col-md">
                    <input asp-for="EmployeeID" id="floatingId" class="form-control" />
                    <label for="floatingId" class="control-label">Sicil</label>
                </div>
                <br />
                <div class="form-group form-floating col-md">
                    <input type="password" asp-for="Password" id="floatingPassword" class="form-control" />
                    <label for="floatingPassword" class="control-label">Şifre</label>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" id="btnLogin" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
