@model TableLayoutsViewModel
@{
    ViewData["Title"] = "TableLayout";
}

<h1>Masa Yerleşim Planı</h1>
<hr />

<div class="container">
    <div class="col-md-12 border-3">
        <form asp-action="AddLayout" asp-controller="TableLayout" enctype="multipart/form-data" method="POST">
            <h2 class="text-center lead"> Resim Yükle</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Resim Bilgileri</label>
                <input type="file" name="file" id="fileInput" class="form-control" />
            </div><br />
            <div class="form-group text-right">
                <input type="submit" class="btn btn-success btn-sm w-25" value="Resim Yükle" />
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    @if (Model.TableLayouts.Count==0)
    {
        <div class="container"><h2>Dosya Yok</h2></div>
    }
    else
    {
        @foreach (var layout in Model.TableLayouts)
        {
            <div class="col-md-3">
                <img src="@layout.LayoutPath" class="img-fluid" alt="Table Layout" />
            </div>
        }
    }
</div>