@model ProductManipulationViewModel

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Yeni Ürün Ekle</h1>

<hr />
<div class="row p-3">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @if (Model.Errors != null)
                {
                    <ul>
                        @foreach (var error in Model.Errors)
                        {
                            <li>@error.ToString()</li>
                        }
                    </ul>
                }
            </div>
            <div class="form-group">
                <input asp-for="Product.ProductID" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Ürün Adı</label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label">Kategori</label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items='new SelectList(Model.Categories,"CategoryID","CategoryName")'></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitPrice" class="control-label">Birim Fiyatı</label>
                <input asp-for="Product.UnitPrice" class="form-control" />
                <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitsInWarhouseStock" class="control-label">Miktar</label>
                <input asp-for="Product.UnitsInWarhouseStock" class="form-control" />
                <span asp-validation-for="Product.UnitsInWarhouseStock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.Discontinued" /> Satış Kapalı
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

